.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("../src/assets/img/bo_play_pattern.png");
}

.leftSide {
  background-image: url("../src/assets/img/carousel2.jpg");
  /* background-size: cover; */
  /* background-color: red; */
  /* padding: 484px; */
  background-size: cover;
  /* height: 100% !important; */
  
}

.postInfo {
  border: solid;
  /* line-height: 100%; */
}

.navTitle {
  font-family: 'Racing Sans One', cursive;;
  font-size: 29px !important;
}
.rightSide {
  /* background-image: url("../src/assets/img/footer_lodyas.png"); */
  background-image: url("../src/assets/img/bo_play_pattern.png");
  /* background-size: cover; */
  /* background-color: red; */
  /* padding: 484px; */
  /* background-size: cover; */
  /* height: 100% !important; */
  
}


/* Tablets */
@media only screen and (min-width:576px){
  .leftSide {
    padding:768px;
  }
}

/* Tablets */
@media only screen and (min-width:992px){
  .leftSide {
    padding:484px;
  }
}

/* 
.rowTest {
  height: 100% !important;
} */
.jumbo {
  background-color: #003566 !important;
  font-family: 'Racing Sans One', cursive;;
  color: white !important; 
  
}

.list-overflow-container{
  /* background-color: red; */
  border: none;
}

.list-group{
  background-color: goldenrod;  
  /* border: none; */
}

.list-group-item{
  background-color: hotpink;
}





.circleIcons {
 /* padding-left: 210px; */
 color: white
 
  
}

.postPage {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.mainImage {
  /* display: block; */
  /* margin-top: -500px; */
  /* margin-bottom: -475px */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 50%; */
  
}
/* .jumbotron { */
  /* background-color: #003566 !important; */
  /* font-family: 'Racing Sans One', cursive;;
  color: white !important;
  font-size: 300px !important;
} */

.mainHeader {
  /* color: white;   */
  font-size: 100px !important;
}

.loginTitle {
  color: whitesmoke;
  margin-bottom: 20px;
}

.loginSmallTitle {
  color: whitesmoke;
  margin-bottom: 0px;
  
}

.signIn {
  /* background-image: url("../src/assets/img/bo_play_pattern.png"); */
  background-image: url("../src/assets/img/footer_lodyas.png");
  border-style: solid;
  border-color: #ffd60a;
  padding-bottom: 25px;
  padding-top: 20px;
  color: white !important;

}
