.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("../src/assets/img/bo_play_pattern.png");
}


.leftSide {
  background-image: url("../src/assets/img/carousel2.jpg");  
  background-size: cover;   
}

.postInfo {  
  text-align: right;  
  line-height: 20px;
}

p {
  font-family: 'Lato', sans-serif;
}

/* .formArea{
  background-color: pink;
} */

.postWrapper {
  border: 2px solid black;
}

.navTitle {
  font-family: 'Racing Sans One', cursive;
  font-size: 29px !important;
}
.rightSide {
    background-image: url("../src/assets/img/bo_play_pattern.png");  
}

.submitBtn {
  /* float: right; */
}

.userPosted {
  text-align: right;
  padding-top: 100px;
  font-family: 'Lato', sans-serif;
  /* line-height: 20px; */
}

/* Tablets */
@media only screen and (min-width:576px){
  .leftSide {
    padding:768px;
  }
}

/* Tablets */
@media only screen and (min-width:992px){
  .leftSide {
    padding:484px;
  }
}

.jumbo {
  /* background-color: #003566 !important; */
  /* font-family: 'Racing Sans One', cursive;; */
  /* color: white !important;  */
  /* background-image: url("../src/assets/img/logtest1.png"); */
  /* height: 50%; */
  /* background-size: cover;   */
  
}

.rowTest {
  /* overflow: hidden; */
  
}

/* .example::-webkit-scrollbar {
  display: none;
} */


.list-overflow-container{
  border: none;
}

.circleIcons { 
 color:white; 
}

.backgroundIcons {
  color: #f77f00;
}

.logoutCircle:hover {
  color: red;
  /* background-color: red; */
  transition: color .5s;
}

/* .logoutBkgndCircle:hover {
     background-color: red;
     transition: background-color .5s;
  } */

.feedTitle{
  text-decoration: underline;
  color: white;
  background-color: #f77f00;
  /* width: 50%; */
  /* padding-left: 100px; */
  /* padding-right: 100px; */
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 5px;
  border: solid;
}

/* .postsHeader {
  color: white;
} */

/* .feedCol {
  color: black;
} */

.cityForm {
  float: right;
  /* background-color: goldenrod; */
  /* border: solid; */
  /* border-width: 1px; */
}

.gobackBtn {
  margin-right: 2px;
}

.locationBtn {
  margin-right: 2px;
}


.fileUpload {
  /* border: solid; */
  border-width: 1px;
  float:left;
  width: 94%;
  /* background-color: black !important; */
}
.postPage {
  background-color: #001d3d;
  padding-top: 30px;
  padding-bottom: 30px;
}


.userNav {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
.mainImage {
  /* display: block; */
  /* margin-top: -500px; */
  /* margin-bottom: -475px */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 50%; */
  
}
/* .jumbotron { */
  /* background-color: #003566 !important; */
  /* font-family: 'Racing Sans One', cursive;;
  color: white !important;
  font-size: 300px !important;
} */

.mainHeader {  
  font-size: 100px !important;
}

.loginTitle {
  color: whitesmoke;
  margin-bottom: 20px;
}

.loginSmallTitle {
  color: whitesmoke;
  margin-bottom: 0px;
  
}


/* for responsive, its going to be margin-top dummy */
.signIn {  
  background-image: url("../src/assets/img/footer_lodyas.png");
  border-style: solid;
  border-color: grey;
  
  padding-bottom: 25px;
  padding-top: 20px;
  color: white !important;
}


header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../src/assets/img/masthead5.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}
