.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url("../src/assets/img/bo_play_pattern.png");
}


.leftSide {
  background-image: url("../src/assets/img/carousel2.jpg");  
  background-size: cover;   
}

.postInfo {  
 
  line-height: 20px;
}

p {
  font-family: 'Lato', sans-serif;
}

.postWrapper {
  border: 2px solid black;
  background-color: white;
  
}

.navTitle {
  font-family: 'Racing Sans One', cursive;
  font-size: 29px !important;
}
.rightSide {
    background-image: url("../src/assets/img/bo_play_pattern.png");  
}

.userPosted {
  text-align: right;
  padding-top: 100px;
  font-family: 'Lato', sans-serif;
}

.list-overflow-container{
  border: none;
}


.circleIcons { 
 color:white; 
}

.circleIcons:hover {
  color: black;
  transition: color .5s;
}

.backgroundIcons {
  color: blue;
}

.logoutCircle:hover {
  color: red;  
  transition: color .5s;
}

.feedTitle{
  text-decoration: underline;
  color: white;
  background-color: #f77f00;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 5px;
  border: solid;
}

.cityForm {
  float: right;  
}

.fileUpload {  
  border-width: 1px;
  float:left;
  width: 94%;  
}

.postPage {
  background-color: #001d3d;
  padding-top: 10px;
  padding-bottom: 30px;
}

.navBar {
  background-color: #161a1d;
}

.userNav {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.homePage{
  background-color:#001d3d;
}

.welcomeHeader {
  background-color: white;  
  margin: auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
  border: solid;
}

.mainHeader {  
  font-size: 100px !important;
}

.loginTitle {
  color: whitesmoke;
  margin-bottom: 20px;
}

.loginSmallTitle {
  color: whitesmoke;
  margin-bottom: 0px;
  
}


/* for responsive, its going to be margin-top dummy */
.signIn {  
  background-image: url("../src/assets/img/footer_lodyas.png");
  border-style: solid;
  border-color: grey;  
  padding-bottom: 75px;
  padding-top: 20px;
  color: white !important;
}


header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../src/assets/img/masthead5.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

@media only screen and (min-width:2000px){
.img-fluid
{
width:125%;
}
}

/* Tablets */
@media only screen and (min-width:576px){
  .leftSide {
    padding:768px;
  }  
}

/* Tablets */
@media only screen and (min-width:992px){
  .leftSide {
    padding:484px;
  }
}


@media only screen and (min-width:360px){
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
 .postInfo {  
      text-align: center;  
      line-height: 20px; 
      float: left; 
    }
  .userNav {    
      font-size: 14px;     
    }
    .navbar-text {
      padding-right: 5px;      
    }
    .logoutStack {
      margin-right: -28px;     
    }
    .logoutCircle {      
      margin-left: -10px;
    }
    .logoutBkgndCircle {
      margin-left: -10px;
    }
    .cityForm {
      margin-bottom: 10px;     
    }
    .cityFormInput{
      width: 100%;
    }
    .stateForm{
      margin-top: 10px;
      width: 100%;  
    }
    .gobackBtn {      
      width: 100%;
      margin-bottom: 5px;
    }    
    .locationBtn {      
      width: 100%;
      margin-bottom: 5px;
    }
    .submitBtn{
      width: 100%;  
    }
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  .postInfo {  
    text-align: left; 
  }
  .userNav {
    font-size: 20px;
  }
  .logoutCircle {   
    margin-left: 0px;
  }
  .logoutBkgndCircle {
    margin-left: 0px;
  }
  .logoutStack {
    margin-right: 0px;     
  }
  .cityForm {
    margin-bottom: 0px;
  }
  .cityFormInput{
    width: 50%;
  }
  .stateForm{
    margin-top: 0px;    
    width: 50%;
  }
  .gobackBtn {
    margin-right: 2px;
    width: 15%;
    margin-bottom: 0px;
  }  
  .locationBtn {
    margin-right: 2px;
    width: 15%;
    margin-bottom: 0px;
  }
  .submitBtn{
    width: 15%;  
  }
}


/* Heroku Debug */
.list-overflow-container {
  max-height: 800px;
  min-height: 200px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  list-style-type: none;  

}

li, hr {
  clear: both;
  
}

hr {
  margin-right: 20px;
}

html, body{
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

@media only screen and (min-width:360px){
  .list-overflow-container {    
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  } 
   .imgContainer{
     display: flex;
     justify-content: center;  
     max-width: 50%;
   }
}

@media (min-width: 768px) {
  .list-overflow-container {  
    /* overflow-y: scroll;    */
    margin-left: 100px;
    margin-right: 100px;
  }
  .itemImg {
    float: left;
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
  }

  .imgContainer {
    display: inline;
  }

}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #161a1d;
  height:6%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid gray;
}

.footerText
{
    font-size: 15px;
    color: #fff;
}

.signup{
  color: whitesmoke;
}

.list-group-item
{
  background-color:#fff; 
}

.signupContainer

{
  background-image: url("../src/assets/img/footer_lodyas.png");
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 25px;
  border: 1px solid gray;
}

.jumboHead
{
   
    font-family: 'Racing Sans One', cursive;
    font-size: 75px !important;
}

  
