
.signup{
    color: whitesmoke;
}

.list-group-item
{
    background-color:#007bff; 
}

.signupContainer

{
    background-image: url("../../../src/assets/img/footer_lodyas.png");
    margin-top: 100px;
    padding: 25px;
    border: 1px solid gray;
}
